<!DOCTYPE html>
<html>
<head>
  <title>Weekly Kryptonite</title>
  <link rel="stylesheet" type="text/css" href="./css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
</head>
<body>
 <header class="header">
 <div class="center-align card-panel grey darken-2">
  <h1><a href="/" class="light-green-text text-accent-3">Weekly Kryptonite</a></h1>
  <h4 class="light-green-text text-accent-3">It's a bird... It's a plane... It's the comics you should read this week!</h4>
 </div>
 </header>
 <main class="body">
    {{{body}}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </main>
</body>
</html>
