<!DOCTYPE html>
<html>
<head>
  <title>Weekly Kryptonite</title>
  <link rel="stylesheet" type="text/css" href="./styles/main.css">
</head>
<body>
  <h1 class="heading"><a href="/">Weekly Kryptonite</a></h1>
  <h2 class="slogan">It's a bird...It's a plane...It's the comics you should read this week!</h2>
    {{{body}}}
</body>
</html>
