<!DOCTYPE html>
<html>
<head>
  <title>Weekly Kryptonite</title>
  <link rel="stylesheet" type="text/css" href="./styles/main.css">
</head>
<body>
  <h1><a href="/">Weekly Kryptonite</a></h1>
  <h3>It's a bird...It's a plane...It's the comics you should read this week!</h3>
    {{{body}}}
</body>
</html>
